.wl-ui-hidden {
	opacity: 0;
	transform: translateY(10px) scale(0.94);
	pointer-events: none;
	transition: all 0.35s ease;
}

@media (max-width: 1023.98px) {
	.wl-mobile-action-hidden {
		opacity: 0;
		transform: translateY(-10px) scale(0.92);
		pointer-events: none;
		visibility: hidden;
		transition: all 0.3s ease;
	}
}
