/* You can add global styles to this file, and also import other style files */

@import "tailwindcss";

/* Button */
.primaryButton {
    @apply px-6 py-2 text-black bg-[#F59E0B] hover:cursor-pointer hover:bg-[#dd900aff] rounded-md font-semibold transition-all active:scale-95;
}

.secondaryButton {
    @apply px-6 py-2 text-white border border-[#F59E0B] hover:cursor-pointer hover:bg-[#dd900aff]/40 rounded-md font-semibold transition-all active:scale-95;
}
/* Countdown animation available globally since overlay moves to app.html */
@keyframes countdownPop {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  50% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

.animate-countdown {
  animation: countdownPop 1s ease-out forwards;
}